*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
/* body{
    width:100;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: white;
    line-height: 1.5;

} */
a{
    text-decoration: none;

}
.container{
   width: 1100px; 
   /* max-width: 100px; */
   margin: 50px;
}
.row{
    display: flex;
  
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    flex: 1 1 20rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 20px;
    flex-direction: column;
    background: red;
    box-shadow: 0 0 15px rgba(red, green, blue, alpha);
    padding: 10px 20px;
    align-self: normal;
}
.card img{
    max-width: 200px;
}
.card h4{
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 10px 0;
}
.card p{
    margin-bottom: 10px;

}
.card .btn{
    display: inline-block;
    margin-top: auto;
    background: black;
    color: white;
    text-align: center;
    color: aliceblue;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.head{ 
    margin: auto;
    color: white;
    text-align: center;
    
}
h1{
    text-align: center;
    margin: auto;
    flex: auto;
    flex-direction: column;
}
h6{
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}
h5{
    text-align: center;
    flex-direction: column;
}
